<!--<mat-toolbar color="primary">Angular Truffle Box</mat-toolbar>-->
<!--<app-meta-sender></app-meta-sender>-->


<!--{{account}}-->

<!--<input [(ngModel)]="_name" placeholder="name">-->
<!--<input [(ngModel)]="_adr" placeholder="aadhaar">-->

<!--<input [(ngModel)]="prop_id" placeholder="prop id">-->

<!--<input [(ngModel)]="_from" placeholder="from">-->
<!--<input [(ngModel)]="_to" placeholder="to">-->
<!--<input [(ngModel)]="_addr" placeholder="address">-->
<!--<hr>-->

<!--<button (click)="addProperty()">Add Property</button>-->
<!--<button (click)="getProperty()">Get Property</button>-->

<!--<button (click)="addUser()">Add User</button>-->
<!--<button (click)="getUser()">Get User</button>-->

<!--<hr>-->
<!--<input [(ngModel)]="_prev" placeholder="_prev">-->
<!--<button (click)="addTransaction()">addTransaction</button>-->
<!--<hr>-->

<!--<input [(ngModel)]="_trans_id" placeholder="_trans_id">-->
<!--<button (click)="getTransaction()">Get Transaction</button>-->





<router-outlet></router-outlet>


